src/za/co/mmagon/jwebswing/htmlbuilder/javascript/ajax/jaxb/AjaxXml.xsd

<?xml version="1.0"?>

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="Root">
        <xs:complexType name="Component">
            <xs:sequence>
                <xs:element name="Id"></xs:element>
                <xs:choice>
                    <xs:element name="EventTypes">
                        <xs:simpleType name="EventType">
                            
                        </xs:simpleType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
            
        </xs:complexType>
    </xs:element>
</xs:schema>
