src/za/co/mmagon/jwebswing/htmlbuilder/javascript/ajax/jaxb/ajax.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2014 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="compUpdate" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="compUpdate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID" type="xs:string"/>
				<xs:element name="ScriptUpdate"  type="xs:string" maxOccurs="unbounded"/>
				<xs:element name="ScriptLinkUpdate" type="xs:string" maxOccurs="unbounded"/>
                                <xs:element name="CSSLinkUpdate" type="xs:string" maxOccurs="unbounded"/>
				<xs:element name="CSSUpdate" type="xs:string"/>
				<xs:element name="HTMLUpdate" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
